<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <head>
    <title>Home</title>
  </head>
  <body>

    <div layout:fragment="content">
        <div class="collapse" id="addlink" style="padding-bottom: 10px;">
            <div class="card card-body">
                <form method="post" th:action="@{/links}">
                    <h5>Submit New Link</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Enter Title"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="url" placeholder="Enter URL"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tags" placeholder="Comma separated tags"/>
                    </div>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div style="padding-bottom: 30px;">
            <div th:if="${searchTag != null}">
                <strong>Filtering by Tag: <span class="badge badge-danger" th:text="${searchTag}">searchTag </span>&nbsp;</strong>
                <a th:href="@{/}" class="btn btn-sm btn-warning">Clear</a>
            </div>

            <div th:if="${q != null}">
                <strong>Search results for: <span th:text="${q}">query </span>&nbsp;</strong>
                <a th:href="@{/}" class="btn btn-sm btn-warning">Clear</a>
            </div>
        </div>

          <div class="row">
          <div class="col-md-8">
            <div  th:each="link : ${links}">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title"><a target="_blank" th:href="${link.url}" th:text="${link.title}">title</a></h5>
                        <p class="card-text">
                            <span th:each="tag : ${link.tags}">
                                <a href="#" th:href="@{/tags/{tagName}(tagName=${tag.name})}" class="badge badge-danger" th:text="${tag.name}">tag </a>&nbsp;
                            </span>
                        </p>
                        <div class="link-author">
                            <strong th:text="${#temporals.format(link.createdOn, 'yyyy-MM-dd')}">Date</strong>
                            by <a href="#" th:href="@{/users/{userId}(userId=${link.createdBy.id})}" th:text="${link.createdBy.name}">User</a> &nbsp;&nbsp;&nbsp;
                            <!--
                            <span style="color:green"><i class="far fa-thumbs-up fa-lg"></i> 1</span>&nbsp;&nbsp;
                            <span style="color:Tomato"><i class="far fa-thumbs-down fa-lg"></i> 0</span>
                            -->
                        </div>

                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4">
              <form th:action="@{/search}">
                  <div class="input-group mb-3">
                      <input type="search" name="q" class="form-control" placeholder="Search">
                      <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">Search</button>
                      </div>
                  </div>
              </form>
            <h4>Tags</h4>

            <span th:each="tag : ${allTags}">
                <a href="#" th:href="@{/tags/{tagName}(tagName=${tag.name})}" class="badge badge-danger" th:text="${tag.name}">tag </a>&nbsp;
            </span>
          </div>
        </div>
    </div>

  </body>
</html>