<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <head>
    <title>Home</title>
  </head>
  <body>

    <div layout:fragment="content">
        <div class="collapse" id="addlink" style="padding-bottom: 10px;">
            <div class="card card-body">
                <form method="post" th:action="@{/links}">
                    <h5>Submit New Link</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Enter Title"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="url" placeholder="Enter URL"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tags" placeholder="Comma separated tags"/>
                    </div>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div style="padding-bottom: 30px;">
            <div th:if="${searchTag != null}">
                <strong>Filtering by Tag: <span class="badge badge-danger" th:text="${searchTag}">searchTag </span>&nbsp;</strong>
                <a th:href="@{/}" class="btn btn-sm btn-warning">Clear</a>
            </div>

            <div th:if="${q != null}">
                <strong>Search results for: <span th:text="${q}">query </span>&nbsp;</strong>
                <a th:href="@{/}" class="btn btn-sm btn-warning">Clear</a>
            </div>
        </div>

          <div class="row">
          <div class="col-md-8">
            <div class="list-group-item list-group-item-action" th:each="link : ${links}">
                <h5><a target="_blank" th:href="${link.url}" th:text="${link.title}">title</a></h5>
                <span th:each="tag : ${link.tags}">
                    <a href="#" th:href="@{/tags/{tagName}(tagName=${tag.name})}" class="badge badge-danger" th:text="${tag.name}">tag </a>&nbsp;
                </span>
                <div class="link-author">
                    Posted By : <strong th:text="${link.createdBy.name}">User</strong>
                     On <strong th:text="${#temporals.format(link.createdOn, 'yyyy-MM-dd HH:mm')}">Date</strong>
                </div>

            </div>
          </div>
          <div class="col-md-4 ">
            <h4>Tags</h4>

            <span th:each="tag : ${allTags}">
                <a href="#" th:href="@{/tags/{tagName}(tagName=${tag.name})}" class="badge badge-danger" th:text="${tag.name}">tag </a>&nbsp;
            </span>
          </div>
        </div>
    </div>

  </body>
</html>